# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Credentials
*.json
*.pickle
.env
config/*.json
config/*.pickle


# Databases
*.db
*.sqlite

# Large/binary data
Data/
*.xlsx
*.ods
*.mp3
*.wav


